<div class="vertical-center text-center">




  <div class="loader-container white-text row">
        <img class="centered image" src="img/splash/name.png" />

    <div class="row">
      <div ng-repeat="circle in splash.circles" class="circle" ng-class="image-container">
        <img src="img/splash/on.png" class='loading-circle' ng-show="splash.isActive($index)" ng-animate="{show:'animate-show', hide:'animate-hide'}">
        <img src="img/splash/off.png" class='loading-circle' ng-show="!splash.isActive($index)" ng-animate="{show:'animate-show', hide:'animate-hide'}"}>
      </div>
    </div>
  </div>

</div>
